/* @import url("./../../node_modules/swiper/swiper-bundle.min.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-['Raleway',sans-serif] font-medium text-[1.125rem] text-black1 bg-[#F4F6F5];
  }
}

@layer components {
  .container {
    @apply max-w-[71.25rem] min-w-80 1200:px-[2.375rem] md:px-8 sm:px-[0.9375rem];
  }
  .wrapper {
    @apply overflow-hidden flex flex-col min-h-full;
  }
  .main {
    @apply grow;
  }
  .heading2 {
    @apply text-[2.5rem] xl:text-4xl lgmd:text-[1.9375rem] mdsm:text-2xl;
  }
  .button {
    @apply border border-green-dark flex justify-center items-center w-fit text-green-dark text-center select-none transition text-xl py-2 px-3 min-h-[4.0625rem] min-w-[14.1875rem] lg:min-w-[13.125rem] lg:min-h-[3.75rem] md:min-w-[11.125rem] md:min-h-[3.125rem] md:text-[1.125rem] sm:min-w-[9.625rem];
  }
  /* 0.625rem 1.25rem */
  .button-little {
    @apply text-xl min-h-[2.6875rem] leading-none flex justify-center items-center bg-green-light rounded-3xl px-5 py-[0.625rem] hover:opacity-80 transition-opacity duration-300 md:text-[1.125rem] md:min-h-[2.5625rem];
  }
  .button-little.active {
    @apply bg-green-dark text-[#F4F6F5];
  }
  @media (hover: hover) and (pointer: fine) {
    .button:hover {
      @apply text-green-dark bg-green-light;
    }
    /* .button:hover path {
      @apply stroke-white;
    }
    .button_transparent:hover {
      @apply bg-red-700 text-white;
    } */
  }
  .header-menu {
    visibility: hidden;
    opacity: 0;
  }
  .header-menu.open {
    visibility: visible;
    opacity: 1;
  }
  .menu-burger {
    width: 1.375rem;
    height: 1.125rem;
    position: relative;
  }
  .menu-burger-line {
    width: 100%;
    height: 0.125rem;
    border-radius: 5px;
    background: #4c5866;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }
  .menu-burger-line-1 {
    top: 0;
  }
  .menu-burger-line-2 {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-burger-line-3 {
    bottom: 0;
  }
  .menu-burger.open .menu-burger-line-1 {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s ease;
  }
  .menu-burger.open .menu-burger-line-2 {
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform 0.3s ease;
  }
  .menu-burger.open .menu-burger-line-3 {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .reproductions-france.active,
  .reproductions-england.active,
  .reproductions-germany.active {
    visibility: visible;
    position: static;
  }
}
